---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Lebenslauf" sideBarActiveItemID="cv">
	<!-- @TODO: Remove? -->
	<!-- <div class="mb-5">
		<div class="text-3xl w-full font-bold">Profile</div>
	</div>

	<div class="mb-10 text-justify">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
		veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
		commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
		velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
		occaecat cupidatat non proident, sunt in culpa qui officia deserunt
		mollit anim id est laborum.
	</div> -->

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Akademische Laufbahn</div>
	</div>

	<div class="time-line-container grid gap-4 mb-10">
		<TimeLineElement
			title="Fachabitur mit Schwerpunkt Informationstechnik"
			subtitle="2019 - 2021 an der Hochtaunusschule, 61440 Oberursel"
		/>
		<TimeLineElement
			title="Mittlere Reife"
			subtitle="2010 - 2019 an der Adolf-Reichwein-Schule, 61267 Neu-Anspach"
		/>
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Berufliche Laufbahn</div>
	</div>

	<div class="time-line-container grid gap-4 mb-10">
		<TimeLineElement
			title="Ausbildung Fachinformatiker - Anwendungsentwickung"
			subtitle="Mai 2022 - Juli 2024, Online Marketing Solutions AG, Niederurseler Allee 8-10, 65760 Eschborn"
		>
			<ul class="list-disc ml-4">
				<li>
					Entwicklung verschiedener firmeninterner Full
					Stack-Web-Apps, um firmeninterne Prozesse und
					Arbeitsvorgänge zu vereinfachen/erleichtern.
				</li>
				<li>Wordpress- und Shopware-Plugin-Entwicklung.</li>
			</ul>
		</TimeLineElement>
		<TimeLineElement
			title="Ausbildung Fachinformatiker - Systemintegration"
			subtitle="August 2021 - April 2022, Oberland Group GmbH, 61267 Neu-Anspach"
		>
			<ul class="list-disc ml-4">
				<li>
					Aufsetzen und Einrichtung von Kassensystemen und Software.
				</li>
				<li>Wartung von Druckern und Scannern.</li>
			</ul>
		</TimeLineElement>
		<TimeLineElement
			title="Kommissionierer & Lagerist"
			subtitle="Juni 2018 - Juli 2021, mr!trade GmbH, 61273 Wehrheim"
		>
			<ul class="list-disc ml-4">
				<li>Aushilfe im Lager</li>
			</ul>
		</TimeLineElement>
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Zertifikate</div>
	</div>

	<div class="grid grid-cols-2">
		<div>
			<div class="text-xl font-semibold mb-2">Sololearn</div>
			<ul class="list-disc mx-6 mb-10 grid gap-2">
				<li>
					<a
						class="link link-primary"
						href="https://www.sololearn.com/certificates/CC-UVHNUPZZ"
						target="_blank">JS-Intermediate</a
					>
				</li>
				<li>
					<a
						class="link link-primary"
						href="https://www.sololearn.com/certificates/CT-SHKDB0UJ"
						target="_blank">PHP</a
					>
				</li>
				<li>
					<a
						class="link link-primary"
						href="https://www.sololearn.com/certificates/CT-R9XXIPOC"
						target="_blank">SQL</a
					>
				</li>
				<li>
					<a
						class="link link-primary"
						href="https://www.sololearn.com/certificates/CT-JNNCBZ32"
						target="_blank">Responsive</a
					>
				</li>
			</ul>
		</div>
		<div>
			<div class="text-xl font-semibold mb-2">Udemy</div>
			<ul class="list-disc mx-6 mb-10 grid gap-2">
				<li>
					<a
						class="link link-primary"
						href="https://www.udemy.com/certificate/UC-e6adc224-0b84-4f27-b66e-7c50e5dfa8ce/"
						target="_blank">Web-Entwickler Masterclass</a
					>
				</li>
				<li>
					<a
						class="link link-primary"
						href="https://www.udemy.com/certificate/UC-8a8ed0f5-173a-4592-b38d-039a32a6648e/"
						target="_blank">Symfony - Grundkurs</a
					>
				</li>
			</ul>
		</div>
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Technologien</div>
	</div>

	<ul class="md:columns-5 columns-2 mx-6">
		<li>PHP</li>
		<li>Symfony</li>
		<li>MySQL</li>
		<li>PostgreSQL</li>
		<li>JS & TS</li>
		<li>React</li>
		<li>Next.js</li>
		<li>TailwindCSS</li>
		<li>Bootstrap</li>
		<li>Git & Gitlab</li>
	</ul>
</BaseLayout>
