---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="home">
	<div class="pb-12 mt-5">
		<div class="text-xl py-1">Gude! 👋</div>
		<div class="text-4xl font-bold">Ich bin Marcel Martinez Otano</div>
		<div class="text-2xl py-3 font-bold">
			Azubi Fachinformatiker / Anwendungsentwickung
		</div>
		<div class="py-2">
			<text class="text-xl">
				Das ist meine kleine Portfolio-Website, in der Sie meinen
				bisherigen Werdegang zum Webentwickler erkunden können.
				<br />
				<br />
				<span class="italic text-base"
					>Erstellt mit Astro und TailwindCSS.</span
				>
			</text>
		</div>
		<div class="mt-8">
			<a
				class="btn text-lg"
				href="mailto:martinez.otano2000@web.de"
				target="_blank"
			>
				Kontakt
			</a>
			<a
				href="https://github.com/Marcel267/astro-portfolio"
				target="_blank"
				class="btn btn-outline ml-5 text-lg"
			>
				Quellcode
			</a>
		</div>
	</div>

	<!-- @TODO: Remove? -->
	<!-- <div>
		<div class="text-3xl w-full font-bold mb-2">
			My last projects {"</>"}
		</div>
	</div>

	<HorizontalCard
		title="Demo Project 1"
		img="/post_img.webp"
		desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
		url="#"
		badge="NEW"
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Demo Project 2"
		img="/post_img.webp"
		desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
		url="#"
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Demo Project 3"
		img="/post_img.webp"
		desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
		url="#"
		badge="FOSS"
	/> -->
</BaseLayout>
